div.block {
  position: absolute;
  width:    10px;
  height:   10px;
  margin:   0px;
}

div.block_a {
  background:        url('../resource/a.png');
  background-repeat: no-repeat;
}

div.block_b {
  background:        url('../resource/b.png');
  background-repeat: no-repeat;
}

div.block_c {
  background:        url('../resource/c.png');
  background-repeat: no-repeat;
}

div.block_d {
  background:        url('../resource/d.png');
  background-repeat: no-repeat;
}

div.block_e {
  background:        url('../resource/e.png');
  background-repeat: no-repeat;
}

div.block_f {
  background:        url('../resource/f.png');
  background-repeat: no-repeat;
}

div.block_g {
  background:        url('../resource/g.png');
  background-repeat: no-repeat;
}

div.block_o {
  background:        url('../resource/o.png');
  background-repeat: no-repeat;
}
