body {
  margin:  0px;
  padding: 0px;
}

div#hangar {
  position: absolute;
  left:     10px;
  top:      10px;
  border:   1px solid #AAAAAA;
}

div#announcer {
  position: absolute;
  left:     340px;
  top:      10px;
  width:    50px;
  height:   50px;
  border:   1px solid #AAAAAA;
}

ul {
  margin:  0px;
  padding: 0px;
  clear:   both;
}

li.pit {
  width:       10px;
  height:      10px;
  overflow:    hidden;
  margin:      0px;
  padding:     0px;
  float:       left;
  list-style:  none;
  line-height: 0;
  border:      0;
  font-size:   0px;
}

li.block_a {
  background: url('../resource/a.png');
}

li.block_b {
  background: url('../resource/b.png');
}

li.block_c {
  background: url('../resource/c.png');
}

li.block_d {
  background: url('../resource/d.png');
}

li.block_e {
  background: url('../resource/e.png');
}

li.block_f {
  background: url('../resource/f.png');
}

li.block_g {
  background: url('../resource/g.png');
}

li.block_o {
  background: url('../resource/o.png');
}
