/* ▼ 全体 ▼ */
*{
    margin:  0px;
    padding: 0px;
    color:   #FFFFFF;
}

body{
    background-color: #000000;
}
/* ▲ 全体 ▲ */




/* ▼ 地図 ▼ */
div.s{
    float:      left;
    margin:     0px;
    padding:    0px;
    width:      15px;
    height:     15px;
    font-size:  10px;
    text-align: center;
}

div.c{
    clear: both;
}

div.s0    { background: url("../resources/13/00000.png"); }
div.s1    { background: url("../resources/13/10000.png"); }
div.s21111{ background: url("../resources/13/21111.png"); }
div.s21100{ background: url("../resources/13/21100.png"); }
div.s20110{ background: url("../resources/13/20110.png"); }
div.s20011{ background: url("../resources/13/20011.png"); }
div.s21001{ background: url("../resources/13/21001.png"); }
div.s21101{ background: url("../resources/13/21101.png"); }
div.s21110{ background: url("../resources/13/21110.png"); }
div.s20111{ background: url("../resources/13/20111.png"); }
div.s21011{ background: url("../resources/13/21011.png"); }
div.s41111{ background: url("../resources/13/41111.png"); }
div.s41110{ background: url("../resources/13/41110.png"); }
div.s40111{ background: url("../resources/13/40111.png"); }
div.s41011{ background: url("../resources/13/41011.png"); }
div.s41101{ background: url("../resources/13/41101.png"); }
div.s41100{ background: url("../resources/13/41100.png"); }
div.s40110{ background: url("../resources/13/40110.png"); }
div.s40011{ background: url("../resources/13/40011.png"); }
div.s41001{ background: url("../resources/13/41001.png"); }
div.s41000{ background: url("../resources/13/41000.png"); }
div.s40100{ background: url("../resources/13/40100.png"); }
div.s40010{ background: url("../resources/13/40010.png"); }
div.s40001{ background: url("../resources/13/40001.png"); }
div.s41010{ background: url("../resources/13/41010.png"); }
div.s40101{ background: url("../resources/13/40101.png"); }
div.s31000{ background: url("../resources/13/31000.png"); }
div.s30100{ background: url("../resources/13/30100.png"); }
div.s30010{ background: url("../resources/13/30010.png"); }
div.s30001{ background: url("../resources/13/30001.png"); }
div.sxxxxo{ background: url("../resources/13/xxxxo.png"); }
div.sxoxxx{ background: url("../resources/13/xoxxx.png"); }
div.sxxxxx{ background: url("../resources/13/xxxxx.png"); }
/* ▲ 地図 ▲ */




/* ▼ 操作 ▼ */
div#display{
    width:  100%;
    height: 100%;
}

div.display_visible{
    background-color: #000000;
}
div.display_imvisible{
    background: url("../resources/13/smy_mgr_bck.png");
}
div.operate_visible{
    display: block;
}
div.operate_imvisible{
    display: none;
}

div#meter{
    width:     165px;
    height:    30px;
    font-size: 0px;
    cursor:    pointer;
}

div#signal{
    width:  110px;
    height: 65px;
    float:  left;
    cursor: pointer;
}

div#display_switch{
    width:  100px;
    height: 65px;
    float:  left;
    cursor: pointer;
}

div#operate_switch{
    width:  70px;
    height: 65px;
    float:  left;
    cursor: pointer;
}

div#clear{
    clear: both;
}

div#memory button{
    color: #000000;
}
/* ▲ 操作 ▲ */




/* ▼ 偽装 ▼ */
div#operate{
    position: absolute;
    top:      191px;
    left:     252px;
}
div#operate table{
    border-right-style:  solid;
    border-right-color:  #c0c3ca;
    border-right-width:  1px;
    border-bottom-style: solid;
    border-bottom-color: #c0c3ca;
    border-bottom-width: 1px;
    border-collapse:     collapse;
}
div#operate tr.odd{
    background-color: #5d5d5e;
    color:            #ffffff;
}
div#operate tr.even{
    background-color: #484848;
    color:            #ffffff;
}
div#operate th,
div#operate td{
    border-top-style:  solid;
    border-top-color:  #c0c3ca;
    border-top-width:  1px;
    border-left-style: solid;
    border-left-color: #c0c3ca;
    border-left-width: 1px;
    vertical-align:    top;
    font-size:         12px;
}
div#operate th{
    padding-top:      0.2em;
    padding-right:    0.5em;
    padding-bottom:   0.2em;
    padding-left:     0.5em;
    background-color: #cbced5;
    color:            #100f19;
    font-weight:      bold;
}
div#operate td{
    padding:     0.5em;
    font-family: Arial, "Trebuchet MS", sans-serif;
}
div#operate td.number div{
    width: 14px;
}
div#operate td.title div{
    width:         266px;
    margin-bottom: 0.2em;
    font-weight:   bold;
}
div#operate td.value div{
    width: 215px;
}
div#operate td.date div{
    width: 62px;
}
div#operate a:link,
div#operate a:visited{
    background-color: transparent;
    color:            #E5710B;
}
div#operate td.title li,
div#operate td.value li{
    float:           left;
    list-style-type: none;
}

td.title li.ser {
    padding-left:  0.5em;
    padding-right: 0.5em;
}

div#operate a:link,
div#operate a:visited{
    background-color: transparent;
    color:            #e5710b;
}

div#operate a:hover,
div#operate a:active{
    background-color: transparent;
    color:            #d24311;
}

div#operate input{
    color:   #000000;
    opacity: 0.1;
}
/* ▲ 偽装 ▲ */




/* ▼ 記録 ▼ */
div#log{
    height:   300px;
    overflow: scroll;
}
/* ▲ 記録 ▲ */
