div#frame {
    width: 100%;
}
div#description {
    margin: 0px auto;
    padding: 10px;
    width: 600px;
    border: solid 1px #ff0000;
}
h3#description_title {
    text-align: center;
    font-size: 12px;
}
table#description_list {
    border-collapse: collapse;
    border: none;
}
td.subject,
td.content {
    vertical-align: top;
    font-size: 12px;
}
td.subject {
    padding-right: 5px;
    text-align: right;
}
td.content {
    padding-bottom: 20px;
    text-align: left;
}
div#confirm {
    text-align: center;
}
div.spacer {
    height: 10px;
    font-size: 0px;
}
div.center {
    text-align: center;
}
