*{
    margin:  0px;
    padding: 0px;
    color:   #FFFFFF;
}

body{
    background-color: #000000;
}

div.section{
    float:      left;
    margin:     0px;
    padding:    0px;
    width:      15px;
    height:     15px;
    font-size:  10px;
    text-align: center;
}

div.sect_0000{ background: url("../resources/04/0000.png"); }
div.sect_1111{ background: url("../resources/04/1111.png"); }
div.sect_1112{ background: url("../resources/04/1112.png"); }
div.sect_1121{ background: url("../resources/04/1121.png"); }
div.sect_1122{ background: url("../resources/04/1122.png"); }
div.sect_1211{ background: url("../resources/04/1211.png"); }
div.sect_1212{ background: url("../resources/04/1212.png"); }
div.sect_1221{ background: url("../resources/04/1221.png"); }
div.sect_1222{ background: url("../resources/04/1222.png"); }
div.sect_2111{ background: url("../resources/04/2111.png"); }
div.sect_2112{ background: url("../resources/04/2112.png"); }
div.sect_2121{ background: url("../resources/04/2121.png"); }
div.sect_2122{ background: url("../resources/04/2122.png"); }
div.sect_2211{ background: url("../resources/04/2211.png"); }
div.sect_2212{ background: url("../resources/04/2212.png"); }
div.sect_2221{ background: url("../resources/04/2221.png"); }
div.sect_2222{ background: url("../resources/04/2222.png"); }

div.clear{
    clear: both;
}

div.c{
    clear: both;
}

span.g{
    color:     #FF4444;
    font-size: 10px;
}

div#display{
    width:  100%;
    height: 100%;
}

div.display_visible{
    background-color: #000000;
}
div.display_imvisible{
    background: url("../resources/04/smy_mgr_bck.png");
}

div#meter{
    width:     165px;
    height:    30px;
    font-size: 0px;
    cursor:    pointer;
}
div#signal{
    width:  110px;
    height: 65px;
    float:  left;
    cursor: pointer;
}
div#switch{
    width:  100px;
    height: 65px;
    float:  left;
    cursor: pointer;
}
div#clear{
    clear: both;
}

div#labyrinth{
    float: left;
}

div#export{
    float: left;
}