/* ▼ 全体 ▼ */
*{
    margin:  0px;
    padding: 0px;
    color:   #FFFFFF;
}
body{
    background-color: 000000;
}
/* ▲ 全体 ▲ */




/* ▼ 地図 ▼ */
div.s{
    float:      left;
    margin:     0px;
    padding:    0px;
    width:      15px;
    height:     15px;
    font-size:  10px;
    text-align: center;
}

div.c{
    clear: both;
}

div.s0{ background: url("./images/0.png"); }
div.s1{ background: url("./images/1.png"); }
div.s2{ background: url("./images/2.png"); }
div.s3{ background: url("./images/3.png"); }
div.s4{ background: url("./images/4.png"); }

div.s3t{ background: url("./images/3t.png"); }
div.s3r{ background: url("./images/3r.png"); }
div.s3b{ background: url("./images/3b.png"); }
div.s3l{ background: url("./images/3l.png"); }
div.s3m{ background: url("./images/3m.png"); }
div.s4t{ background: url("./images/4t.png"); }
div.s4r{ background: url("./images/4r.png"); }
div.s4b{ background: url("./images/4b.png"); }
div.s4l{ background: url("./images/4l.png"); }

div.s10000{ background: url("./images/10000.png"); }

div.sxxxxo{ background: url("./images/xxxxo.png"); }
div.sxoxxx{ background: url("./images/xoxxx.png"); }
div.sxxxxx{ background: url("./images/xxxxx.png"); }
/* ▲ 地図 ▲ */




/* ▼ 操作 ▼ */
div#display{
    width:  100%;
    height: 100%;
}

div.display_visible{
    background-color: #000000;
}
div.display_imvisible{
    background: url("./images/smy_mgr_bck.png");
}
div.operate_visible{
    display: block;
}
div.operate_imvisible{
    display: none;
}

div#meter{
    width:     165px;
    height:    30px;
    font-size: 0px;
    cursor:    pointer;
}

div#signal{
    width:  110px;
    height: 65px;
    float:  left;
    cursor: pointer;
}

div#display_switch{
    width:  100px;
    height: 65px;
    float:  left;
    cursor: pointer;
}

div#clear{
    clear: both;
}

div#memory button{
    color: #000000;
}
/* ▲ 操作 ▲ */




/* ▼ 記録 ▼ */
div#log{
    height:   300px;
    overflow: scroll;
}
/* ▲ 記録 ▲ */
