* {
    margin: 0px;
    padding: 0px;
}


div#frame {
    position: relative;
}


div#canvas_frame {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}


div#map_frame {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 600px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
}


div#map_canvas_frame {
    position: absolute;
}


div#option {
    position: absolute;
    top: 20px;
    left: 640px;
}


div#option table {
margin-bottom: 10px;
    width: 201px;
    border-collapse: collapse;
}


div#option th,
div#option td {
    padding: 2px;
    border: solid 1px #aaaaaa;
    font-size: 12px;
    font-weight: normal;
}


div#option th {
    background-color: #eeddff;
}


div#hp_frame,
div#energy_frame {
    width: 125px;
    height: 10px;
    border: solid 1px #aaaaaa;
    background-color: #000000;
    font-size: 0px;
}


div.bgm_select {
    padding: 2px;
    cursor: pointer;
}
div.bgm_select:hover {
    background-color: #f0f0ff;
}
div.bgm_select_selected {
    background-color: #ffe0e0;
}


div#audio_scroller_frame {
    position: relative;
    top: 0px;
    left: 0px;
    width: 125px;
    height: 13px;
    margin: 2px 0px;
}
div#audio_scroller_rail {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 125px;
    height: 13px;
}
div#audio_scroller {
    position: absolute;
    width: 13px;
    height: 13px;
    background: url('../resource/volume.png');
    z-index: 2;
}
div#audio_scroller_mark {
    position: absolute;
    top: 6px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #aaaaaa;
    z-index: 1;
}


div#announce {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 600px;
    height: 480px;
    z-index: 10;
    display: none;
}


div#pause_back,
div#complete_back {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}


div#pause_back {
    background-color: #8888ff;
    filter: alpha(opacity=2);
    -moz-opacity: 0.2;
    opacity: 0.2;
}


div#complete_back {
    background: url("../resource/back_O.png");
    filter: alpha(opacity=5);
    -moz-opacity: 0.5;
    opacity: 0.5;
}


div#mess_pause,
div#mess_hp_empty,
div#mess_complete {
    position: absolute;
    top: 160px;
    left: 150px;
    padding: 2px;
    width: 300px;
    text-align: center;
    background-color: rgba(224, 224, 255, 0.8);
    color: #444488;
}


table#end_table {
    position: absolute;
    left: 0px;
    width: 100%;
    border-collapse: collapse;
}


table#end_table {
    top: 240px;
}
