* {
    margin: 0px;
    padding: 0px;
}


div#frame {
    position: relative;
}


div#canvas_frame {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}


div#map_frame {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 600px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
}


div#map_canvas_frame {
    position: absolute;
}


div#option {
    position: absolute;
    top: 20px;
    left: 640px;
}


div#option table {
margin-bottom: 10px;
    width: 201px;
    border-collapse: collapse;
}


div#option th,
div#option td {
    padding: 2px;
    border: solid 1px #aaaaaa;
    font-size: 12px;
    font-weight: normal;
}


div#option th {
    background-color: #eeddff;
}


div#hp_frame,
div#energy_frame {
    width: 125px;
    height: 10px;
    border: solid 1px #aaaaaa;
    background-color: #000000;
    font-size: 0px;
}


table#STR td,
table#SLF td {
    padding: 0px;
    width: 67px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    font-size: 0px;
}


div#announce {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 600px;
    height: 480px;
    z-index: 10;
    display: none;
}


div#pause_back,
div#complete_back {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}


div#pause_back {
    background-color: #8888ff;
    filter: alpha(opacity=2);
    -moz-opacity: 0.2;
    opacity: 0.2;
}


div#complete_back {
    background: url("../resource/back_O.png");
    filter: alpha(opacity=5);
    -moz-opacity: 0.5;
    opacity: 0.5;
}


div#mess_pause,
div#mess_hp_empty,
div#mess_complete {
    position: absolute;
    top: 160px;
    left: 150px;
    padding: 5px;
    width: 300px;
    height: 30px;
    text-align: center;
    color: #444488;
}


table#end_table {
    position: absolute;
    left: 0px;
    width: 100%;
    border-collapse: collapse;
}


table#end_table {
    top: 240px;
}
